<footer class="footer">
  <div>
    <ul>
      <li>
        <a href="privacy-policy">Privacy policy</a>
      </li>
      <li>
        <a href="terms-use">Terms of use</a>
      </li>
      <li>
        <a href="gift-card">Gift Cards</a>
      </li>
      <li>
        <a href="nutrition">Nutrition</a>
      </li>
    </ul>
    <div>
      <p>contact us</p>
      <ul>
        <li>
          <i class="fab fa-youtube"></i>
        </li>
        <li>
          <i class="fab fa-instagram"></i>
        </li>
        <li>
          <i class="fab fa-twitter"></i>
        </li>
        <li>
          <i class="fas fa-map-marker-alt"></i>
        </li>
      </ul>
    </div>
  </div>
  <p>
    <small> ©2021 RockBox CrossFit. All rights reserved. </small>
  </p>
</footer>
